@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Montserrat:wght@600&family=Palette+Mosaic&family=Radio+Canada&family=Varela+Round&display=swap');


html, body {
  
  height: 100%;
}
body{
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  font-family: 'Fredoka', sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
